@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-base-black font-sans;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}